[submodule "boringtun"]
	path = boringtun
	url = https://github.com/blokadaorg/boringtun.git
[submodule "landing-github-pages"]
	path = landing-github-pages
	url = https://github.com/blokadaorg/landing-github-pages.git
[submodule "translate"]
	path = translate
	url = https://github.com/blokadaorg/translate.git
